<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.gong.mydemoapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoSQliteDatabase.TestDatabaseActivity" />
        <activity android:name=".DemoNetActivity.TestNetWorkActivity" />
        <activity android:name=".DemoNetActivity.TestWebViewActivity" />
        <activity android:name=".DemoCameraAndRecoder.TestPhotoActivity" />
        <activity android:name=".DemoMyWidget.DemoPercentViewActivity" />

        <!-- 解决 Android N 上报错：android.os.FileUriExposedException -->
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.demo.gong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->

        <activity android:name=".DemoCoordinatorLayout.DemoCoordinatorLayoutActivity" />
        <activity android:name=".DemoCoordinatorLayout.DemoAppBarLayoutActivity" />
        <activity android:name=".DemoFragmentAndTabLayout.DemoFragmentActivity" />
        <activity android:name=".DemoCameraAndRecoder.RecoderActivity" />
        <activity android:name=".DemoSQliteDatabase.DemoGreenDAO.GreenDaoActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".DemoEventTransmit.EventTransmitActivity" />
        <activity android:name=".DemoRecyclerViewFlow.RecyclerViewFlowActivity"></activity>
    </application>

</manifest>