<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.gong.mydemoapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    //获取设备网络状态，禁用后无法获取网络状态
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //获取设备的网络状态，鉴权所需网络代理
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //这个权限用于进行网络定位
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //获取统计数据
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //程序在手机屏幕关闭后后台进程仍然运行
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NdtmDVVAgkpxnOK3pQmipLzc2GGNfZk7" />

        <!-- android:label属性用于指定Toolbar中显示的文字内容 -->
        <activity
            android:name=".MainActivity"
            android:label="Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoSQliteDatabase.TestDatabaseActivity" />
        <activity android:name=".DemoNetActivity.TestNetWorkActivity" />
        <activity android:name=".DemoNetActivity.TestWebViewActivity" />
        <activity android:name=".DemoCameraAndRecoder.TestPhotoActivity" />
        <activity android:name=".DemoMyWidget.DemoPercentViewActivity" />

        <!-- 解决 Android N 上报错：android.os.FileUriExposedException -->
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.demo.gong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->

        <activity android:name=".DemoCoordinatorLayout.DemoCoordinatorLayoutActivity" />
        <activity android:name=".DemoCoordinatorLayout.DemoAppBarLayoutActivity" />
        <activity android:name=".DemoFragmentAndTabLayout.DemoFragmentActivity" />
        <activity android:name=".DemoCameraAndRecoder.RecoderActivity" />
        <activity android:name=".DemoSQliteDatabase.DemoGreenDAO.GreenDaoActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".DemoRecyclerViewFlow.RecyclerViewFlowActivity" />
        <activity android:name=".DemoAnimation.FrameAnimationActivity" />
        <activity android:name=".DemoAnimation.DemoAnimationActivity" />
        <activity
            android:name=".DemoMyCamera.MyCareraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DemoBaiduMap.BaiduMapActivity" />

        <service
            android:name=".DemoBaiduMap.BaoduMapService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".DemoQRCode.QRCodeActivity" />
        <activity android:name=".DemoQRCode.CreateQRCodeActivity" />
        <activity android:name=".DemoFloatingActionButton.FloatingActionButtonActivity" />
        <activity android:name=".DemoRepeatChooseBtn.RepeatChooseBtnActivity" />
        <activity android:name=".DemoJsBridge.JsBridgeDemoActivity" />
        <activity android:name=".DemoRxjava.RxjavaPractiseActivity"></activity>
    </application>

</manifest>